$font-family-sans: "IBM Plex Sans", sans-serif;
$font-family-cursive: "Grape Nuts", cursive;
$font-weight-base: 400;
$font-weight-bold: 700;

$primary-color: #096A2E;
$secondary-color: #8ABE53;
$white: #fff;
$ddd-color: #dbefed;
$sss-color: #CB1106;
$qqq-color: #F64D08;
