@use "settings";

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.space-in-between {
  justify-content: space-between;
}

.logo-container {
  display: flex;
  gap: settings.$sp-base;
  align-items: center;
  color: settings.$sss-color;
  text-decoration: none;
}

.logo {
  fill: currentColor;
  width: 2.5rem;
  height: 2.5rem;
}

.post__content {
  display: flex;
  gap: settings.$sp-base;
  flex-direction: column;
}

.post__header {
  h1 {
    margin-bottom: settings.$sp-base;
  }
}

.post-list__item {
  margin-bottom: settings.$sp-base;

  article {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    .post-list__title {
      padding: settings.$sp-base;
    }
  }
}

.post-list__title {
  margin-top: 0;
  font-size: 2rem;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 35rem) {
  .post__content {
    flex-direction: row;

    img {
      object-fit: cover;
      max-width: 245px;
    }
  }
}